env
.env
__pycache__/
.DS_Store
.vscode/
*.log
test/personal
test_env
.gitsecret/keys/random_seed
!*.secret
flat.py
full_project.txt
lite-rtstt.iml
misc.xml
modules.xml
profiles_settings.xml
vcs.xml
workspace.xml
*.txt
PKG-INFO